@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&display=swap');
/* 
font-family: 'Nuosu SIL', serif;
font-family: 'Tai Heritage Pro', serif; */
/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Monrserrat', serif; */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
 
}

#home{
    background-image: url("./images/fondo-inicio2.jpg");

    height: 100vh;
    background-size: cover;
    background-position: center, center;
}

#home .content{
    background-image: url("./images/pic10.jpg");
   
    background-size:cover;
    background-position: 80%;
    display: flex;
    flex-direction: column;
    height: 100vh;
 
}
#home .content header{
    /* position: fixed; */
    width: 100%;
    z-index: 100;
    top: 0;
    color: rgb(29, 25, 19);
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.37);

}
#home .content header nav {
    max-width: 1100px;
    justify-content: space-between;
    margin-right: 40px;
 
}
#home .content header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    color: rgb(29, 25, 19);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

}

#home .content header nav ul #menu-icon{
    cursor: pointer;
    font-size: 20px;
   
}
#home .content header nav ul li a{
    color:rgb(29, 25, 19);
    text-decoration: none;
    margin-right: 30px;
   
}
#home .content header nav ul li:hover{
    text-decoration: underline;
    
}
#home .content header .brand{
    margin-left: 20px;
    
}
#home .content header .brand #name{
    font-size:16px ;
    font-weight: bold;
    font-family: 'Cormorant Garamond';
    margin-bottom: 5px;
    letter-spacing: 2px;
}
#home .content header .brand p{
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: 500;
}



#home .content .presentation{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.39);
    height: 300px;
    align-self: center;
    padding: 50px 100px;
 

}
#home .content .presentation h2{
        font-size: 90px;
        margin-bottom: 65px;
        text-align: center;
        font-family: 'Cormorant Garamond';
        letter-spacing: 3px;
        color: rgb(29, 25, 19);
        font-weight: 200;
        text-transform: uppercase;
       
}
#home .content .presentation p{
    font-size: 25px;
}

#contact-me {
    background-color:rgb(248, 244, 244);

    color:rgb(29, 25, 19)
}
#contact-me .content{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 30px 100px;
    
}
#contact-me .content h2{
    font-size: 40px;
    font-family: 'Cormorant Garamond';
    font-weight: 400;
}

#contact-me .content p{
    padding: 10px 15px;
    border: 2px solid rgb(29, 25, 19);
    align-self: center;
    cursor: pointer;
    transition: .5s;
}
#contact-me .content p:hover{
    background-color: rgb(29, 25, 19);
    color: white;
}

#why-me{
    background-color: rgb(7, 7, 22);
    height: 500px;
    color:white;
}

#why-me .content{
    display: flex;
    flex-direction: column;
    padding: 80px 150px;
}
#why-me .content h2{
    font-size: 40px;
    margin-bottom: 65px;
    text-align: center;
    font-family: 'Cormorant Garamond';
    letter-spacing: 3px;
    color: white;
    font-weight: 200;
    width: 800px;
    align-self: center;
   
}

#why-me .content p{
    margin: 0px;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    line-height: 30px;
    
}