@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Tai+Heritage+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600;700&display=swap');
/* 
font-family: 'Nuosu SIL', serif;
font-family: 'Tai Heritage Pro', serif; */
/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Monrserrat', serif; */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
 
}

#home{
    background-image: url("./images/fondo-inicio2.jpg");
   
    height: 100vh;
    background-size: cover;
    background-position: center, center;
}

#home .content{
    background-image: url("./images/pic9.jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#home .content header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    color: rgb(29, 25, 19);
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.37);

}
#home .content header nav {
    max-width: 1100px;
    justify-content: space-between;
    margin-right: 40px;
 
}
#home .content header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    color: rgb(29, 25, 19);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

}

#home .content header nav ul #menu-icon{
    cursor: pointer;
    font-size: 22px;
}
#home .content header nav ul li a{
    color:rgb(29, 25, 19);
    text-decoration: none;
    margin-right: 30px;
   
}
#home .content header nav ul li:hover{
    text-decoration: underline;
    
}
#home .content header .brand{
    margin-left: 20px;
}
#home .content header .brand p{
    text-transform: uppercase;
    margin: 0px;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
}


#home .content .presentation{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.37);
    height: 300px;
    align-self: center;
    padding: 50px;
 

}
#home .content .presentation h2{
        font-size: 90px;
        margin-bottom: 65px;
        text-align: center;
        font-family: 'Cormorant Garamond';
        letter-spacing: 3px;
        color: rgb(29, 25, 19);
        font-weight: 200;
       
}
#home .content .presentation p{
    font-size: 25px;
}